<div layout-xs="column" layout-gt-xs="row" layout-align="center center">
  <div layout="column">
    <button mat-raised-button color="primary" (click)="openMultiLevel()">Open Multi-Level</button>
    <button mat-raised-button color="primary" (click)="goToTdLoading()">Go To tdLoading</button>
  </div>
  <td-code-editor class="mat-card mat-elevation-z4 overflow-scroll demo-editor" [language]="'json'" [editorOptions]="{ readOnly: true, minimap: { enabled: false } }"
    [(ngModel)]="input"></td-code-editor>
</div>